torch==2.9.0
torchaudio>=2.5.0
transformers>=4.36.2
einops
inflect
addict
wetext
modelscope>=1.22.0
datasets==3.1.0
huggingface-hub
pydantic
tqdm
simplejson
sortedcontainers
soundfile
fastapi
uvicorn
sqlalchemy
pymysql
python-multipart
pypdf
websockets
python-jose[cryptography]
passlib
bcrypt==3.2.2
Pillow
librosa